header {
    background-color: rgba(96, 126, 166, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(5px);
    padding: 0;
}

.hero-imagen {
    background-image: linear-gradient(rgba(96, 126, 166, 0.4),
            rgba(242, 193, 174, 0.4),
            rgba(140, 68, 42, 0.4)), url("https://images.unsplash.com/photo-1605279682024-5a25531582dc?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* Asegura que se vea */
    display: flex;
    align-items: center;
    justify-content: center;
}

.semillas-container {
    margin: 10vw;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    justify-content: center;
    gap: 3vw;
    text-align: center;
}

.card {
    padding: 1.25rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 0.625rem;
    box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    height: 9.375rem;
}

.card h4 {
    margin-top: 0.625rem;
    font-size: 0.9em;
    color: #666;
}

.card p {
    margin-top: 0.313rem;
    font-weight: bold;
}

.card button {
    border-radius: 0.313rem;
    padding: 0.313rem;
    margin-top: 0.938rem;
    color: black;
    transition: all 0.5s ease-out;
    backdrop-filter: blur(10px)
}

#boton-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 128, 0, 0.6);
    color: white;
    border-radius: 15%;
    text-decoration: none;
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    border: none;
    box-shadow: 4px 6px rgba(0, 0, 0, 0.1)
}

.fa-arrow-up {
    color: white;
}

#boton-top:hover {
    background-color: rgb(255, 255, 255, 0.3);
}

/* Estilo para el footer */
footer {
    background-color: #8C442A;
}

@media (max-width: 992px) {
    .semillas-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 4vw;
        margin: 6vw;
    }
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .semillas-container {
        grid-template-columns: 1fr;
        gap: 5vw;
        margin: 8vw 5vw;
    }

    .card {
        max-width: 90%;
        margin: 0 auto;
    }

    .card img {
        height: auto;
        max-height: 8rem;
        width: 100%;
        max-width: 200px;
    }

    /* Ajusta el espacio para las cards considerando el header fijo */
    .hero-imagen {
        padding-top: 110px;
        /* Ajusta según la altura de tu header */
    }
}